# macOS system files
.CFUserTextEncoding
.DS_Store
.MacOSX/
.anaconda/
.anydesk/
.azuredatastudio/
.bash_profile
.cache/
.conda/
.condarc
.config/
.continuum/
.cups/
.docker/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.odbcinst.ini
.oraclesqldeveloperdatamodeler/
.snowsql/
.sqldeveloper/
.tcshrc
.viminfo
.virtual_documents/
.vscode/
.xonshrc
.zsh_history
.zsh_sessions/
.zshrc
